@import "tailwindcss";

@theme {
  --width-layout: 1920px;
  --width-content: 1440px;

  --radius-full: 9999px;
  --radius-large: 40px;
  --radius-medium: 16px;
  --radius-small: 8px;
  --radius-tiny: 4px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;

  --background: var(--color-white);
  --foreground: #171717;

  /* base colors */
  --color-white: #ffffff;
  --color-neutral5: #fafafa;
  --color-neutral10: #e3e6ea;
  --color-neutral20: #b7bbbf;
  --color-neutral40: #848a92;
  --color-neutral60: #535a64;
  --color-neutral80: #2e3540;
  --color-neutral90: #191f28;
  --color-black: #000000;

  /* brand colors */
  --color-brand0: #fff8f8;
  --color-brand5: #ffe8e8;
  --color-brand10: #ffd7d8;
  --color-brand15: #ffc7c8;
  --color-brand20: #ffb6b9;
  --color-brand30: #ff949b;
  --color-brand40: #ff6f7e;
  --color-brand50: #fd4162;
  --color-brand60: #d33551;
  --color-brand70: #aa2a40;
  --color-brand80: #831f30;
  --color-brand90: #5e1521;
  --color-brand100: #3b0b12;

  /* status colors: 5→100 white contrast ≈ 1.06 / 1.21 / 1.51 / 2 / 3 / 4.5 / 7 / 12 */
  /* red colors */
  --color-red5: #fff6f6;
  --color-red10: #ffe3e3;
  --color-red20: #ffc4c4;
  --color-red40: #ff9b9b;
  --color-red50: #ff5b5b;
  --color-red60: #ed0000;
  --color-red80: #b60000;
  --color-red100: #750000;

  /* orange colors */
  --color-orange5: #fff7f1;
  --color-orange10: #ffe5d2;
  --color-orange20: #ffc79f;
  --color-orange40: #ffa05d;
  --color-orange50: #f76700;
  --color-orange60: #c65200;
  --color-orange80: #953e00;
  --color-orange100: #5d2700;

  /* yellow colors */
  --color-yellow5: #fff8e2;
  --color-yellow10: #ffe99e;
  --color-yellow20: #ffcc23;
  --color-yellow40: #e4af00;
  --color-yellow50: #b88e00;
  --color-yellow60: #937100;
  --color-yellow80: #6f5500;
  --color-yellow100: #443500;

  /* green colors */
  --color-green5: #edfcf2;
  --color-green10: #c5f5d4;
  --color-green20: #7de89e;
  --color-green40: #25d25a;
  --color-green50: #1eaa49;
  --color-green60: #18883b;
  --color-green80: #12662c;
  --color-green100: #0b3f1b;

  /* blue colors */
  --color-blue5: #f4f9ff;
  --color-blue10: #ddebff;
  --color-blue20: #b8d4ff;
  --color-blue40: #8ab9ff;
  --color-blue50: #4a93ff;
  --color-blue60: #0b6cff;
  --color-blue80: #0050c8;
  --color-blue100: #00327d;

  /* Functional Colors */
  --color-danger: var(--color-red50);
  --color-warning: var(--color-yellow50);
  --color-success: var(--color-green50);
  --color-info: var(--color-blue50);

  /* semantic colors */
  --color-bg: var(--color-white);
  --color-bg-subtle: var(--color-neutral5);
  --color-bg-disabled: var(--color-neutral10);

  --color-text-primary: var(--color-neutral90);
  --color-text-secondary: var(--color-neutral60);
  --color-text-tertiary: var(--color-neutral40);
  --color-text-disabled: var(--color-neutral40);
  --color-text-inverse: var(--color-white);

  --color-border-subtle: var(--color-neutral10);
  --color-border: var(--color-neutral20);
  --color-border-strong: var(--color-neutral40);

  --color-primary: var(--color-brand60);
  --color-primary-hover: var(--color-brand70);
  --color-primary-pressed: var(--color-brand80);
  --color-focus: var(--color-brand50);

  --color-disabled-bg: var(--color-bg-disabled);
  --color-disabled-text: var(--color-text-disabled);
  --color-disabled-border: var(--color-border);

  /* tint colors */
  --color-tintRed: #fdf4f4;
  --color-tintOrange: #fffaf2;
  --color-tintYellow: #ffefd2;
  --color-tintGreen: #f5fbf8;
  --color-tintBlue: #f0f4ff;

  /* text size */

  /* caption */
  --text-display10: 10px;
  --text-display12: 12px;

  /* body */
  --text-display14: 14px;
  --text-display16: 16px;
  --text-display18: 18px;

  /* heading */
  --text-display20: 20px;
  --text-display24: 24px;
  --text-display28: 28px;
  --text-display32: 32px;

  /* display */
  --text-display36: 36px;
  --text-display40: 40px;
  --text-display80: 80px;

  /* line height */
  --leading-caption: 1.7;
  --leading-body: 1.5;
  --leading-heading: 1.4;
  --leading-display: 1.2;

  /* letter spacing */
  --tracking-cpation: 0.01em;
  --tracking-body: 0;
  --tracking-heading: -0.01em;
  --tracking-display: -0.025em;

  /* font weight */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}

@utility display10 {
  font-size: var(--text-display10);
  line-height: var(--leading-caption);
  letter-spacing: var(--tracking-caption);
}
@utility display12 {
  font-size: var(--text-display12);
  line-height: var(--leading-caption);
  letter-spacing: var(--tracking-caption);
}

@utility display14 {
  font-size: var(--text-display14);
  line-height: var(--leading-body);
  letter-spacing: var(--tracking-body);
}
@utility display16 {
  font-size: var(--text-display16);
  line-height: var(--leading-body);
  letter-spacing: var(--tracking-body);
}
@utility display18 {
  font-size: var(--text-display18);
  line-height: var(--leading-body);
  letter-spacing: var(--tracking-body);
}

@utility display20 {
  font-size: var(--text-display20);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
}
@utility display24 {
  font-size: var(--text-display24);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
}
@utility display28 {
  font-size: var(--text-display28);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
}
@utility display32 {
  font-size: var(--text-display32);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
}

@utility display36 {
  font-size: var(--text-display36);
  line-height: var(--leading-display);
  letter-spacing: var(--tracking-display);
}
@utility display40 {
  font-size: var(--text-display40);
  line-height: var(--leading-display);
  letter-spacing: var(--tracking-display);
}
@utility display80 {
  font-size: var(--text-display80);
  line-height: var(--leading-display);
  letter-spacing: var(--tracking-display);
}

@utility light {
  font-weight: var(--font-light);
}
@utility regular {
  font-weight: var(--font-regular);
}
@utility medium {
  font-weight: var(--font-medium);
}
@utility bold {
  font-weight: var(--font-bold);
}
@utility black {
  font-weight: var(--font-black);
}
