@import "tailwindcss";

@theme {
  --width-layout: 1920px;
  --width-content: 1440px;

  --radius-full: 9999px;
  --radius-large: 40px;
  --radius-medium: 16px;
  --radius-small: 12px;
  --radius-tiny: 4px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;

  --background: #ffffff;
  --foreground: #171717;

  /* mono colors */
  --color-mono0: #ffffff;
  --color-mono10: #f0f0f0;
  --color-mono20: #dadada;
  --color-mono40: #aaaaaa;
  --color-mono60: #7c7c7c;
  --color-mono80: #4e4e4e;
  --color-mono100: #000000;

  /* neutral colors */
  --color-neutral5: #fafafa;
  --color-neutral10: #e3e6ea;
  --color-neutral20: #b7bbbf;
  --color-neutral40: #848a92;
  --color-neutral60: #535a64;
  --color-neutral80: #2e3540;
  --color-neutral100: #191f28;

  /* brand colors */
  --color-brand0: #fff8f8;
  --color-brand5: #ffe8e8;
  --color-brand10: #ffd7d8;
  --color-brand15: #ffc7c8;
  --color-brand20: #ffb6b9;
  --color-brand30: #ff949b;
  --color-brand40: #ff6f7e;
  --color-brand50: #fd4162;
  --color-brand60: #d33551;
  --color-brand70: #aa2a40;
  --color-brand80: #831f30;
  --color-brand90: #5e1521;
  --color-brand100: #3b0b12;

  /* red colors */
  --color-red5: #fff1f1;
  --color-red10: #ffdbdb;
  --color-red20: #ffbdbd;
  --color-red40: #ff7575;
  --color-red50: #ff4747;
  --color-red60: #e92f2f;
  --color-red80: #c70000;
  --color-red100: #7b0000;

  /* orange colors */
  --color-orange5: #fff6f2;
  --color-orange10: #ffd4c4;
  --color-orange20: #ffb699;
  --color-orange40: #ff9166;
  --color-orange50: #ff6a00;
  --color-orange60: #e95a00;
  --color-orange80: #cc3a00;
  --color-orange100: #802500;

  /* yellow colors */
  --color-yellow5: #fff8e0;
  --color-yellow10: #fff3cc;
  --color-yellow20: #ffedb3;
  --color-yellow40: #ffdc6b;
  --color-yellow50: #ffd23d;
  --color-yellow60: #ffcc24;
  --color-yellow80: #c58e02;
  --color-yellow100: #856403;

  /* green colors */
  --color-green5: #f0fff5;
  --color-green10: #d9ffe5;
  --color-green20: #c2ffd5;
  --color-green40: #52ff89;
  --color-green50: #00d943;
  --color-green60: #00b839;
  --color-green80: #008f2d;
  --color-green100: #004717;

  /* blue colors */
  --color-blue5: #f0f4ff;
  --color-blue10: #dbe6ff;
  --color-blue20: #b8caff;
  --color-blue40: #5c85ff;
  --color-blue50: #0066ff;
  --color-blue60: #0052cc;
  --color-blue80: #002966;
  --color-blue100: #001433;

  /* tint colors */
  --color-tintRed: #fdf4f4;
  --color-tintOrange: #fffaf2;
  --color-tintYellow: #ffefd2;
  --color-tintGreen: #f5fbf8;
  --color-tintBlue: #f0f4ff;

  --color-positive: #07ac30;
  --color-negative: #d6173a;

  /* text size */

  /* caption */
  --text-display10: 10px;
  --text-display12: 12px;

  /* body */
  --text-display14: 14px;
  --text-display16: 16px;
  --text-display18: 18px;

  /* heading */
  --text-display20: 20px;
  --text-display24: 24px;
  --text-display28: 28px;
  --text-display32: 32px;

  /* display */
  --text-display36: 36px;
  --text-display40: 40px;
  --text-display80: 80px;

  /* line height */
  --leading-caption: 1.7;
  --leading-body: 1.5;
  --leading-heading: 1.4;
  --leading-display: 1.2;

  /* letter spacing */
  --tracking-cpation: 0.01em;
  --tracking-body: 0;
  --tracking-heading: -0.01em;
  --tracking-display: -0.025em;

  /* font weight */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}

@utility display10 {
  font-size: var(--text-display10);
  line-height: var(--leading-caption);
  letter-spacing: var(--tracking-caption);
}
@utility display12 {
  font-size: var(--text-display12);
  line-height: var(--leading-caption);
  letter-spacing: var(--tracking-caption);
}

@utility display14 {
  font-size: var(--text-display14);
  line-height: var(--leading-body);
  letter-spacing: var(--tracking-body);
}
@utility display16 {
  font-size: var(--text-display16);
  line-height: var(--leading-body);
  letter-spacing: var(--tracking-body);
}
@utility display18 {
  font-size: var(--text-display18);
  line-height: var(--leading-body);
  letter-spacing: var(--tracking-body);
}

@utility display20 {
  font-size: var(--text-display20);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
}
@utility display24 {
  font-size: var(--text-display24);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
}
@utility display28 {
  font-size: var(--text-display28);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
}
@utility display32 {
  font-size: var(--text-display32);
  line-height: var(--leading-heading);
  letter-spacing: var(--tracking-heading);
}

@utility display36 {
  font-size: var(--text-display36);
  line-height: var(--leading-display);
  letter-spacing: var(--tracking-display);
}
@utility display40 {
  font-size: var(--text-display40);
  line-height: var(--leading-display);
  letter-spacing: var(--tracking-display);
}
@utility display80 {
  font-size: var(--text-display80);
  line-height: var(--leading-display);
  letter-spacing: var(--tracking-display);
}

@utility light {
  font-weight: var(--font-light);
}
@utility regular {
  font-weight: var(--font-regular);
}
@utility medium {
  font-weight: var(--font-medium);
}
@utility bold {
  font-weight: var(--font-bold);
}
@utility black {
  font-weight: var(--font-black);
}
